.logo{
    font-family: 'Releway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    color: #4D5AE5;
}
.logo-light{
    color: #2e2f42;

}
.nav-link {
  display: block;
  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42; 
  text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
  color: #404bbf; 
}
.contacts {
  font-style: normal;
  margin-left: auto;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455; 
  text-decoration: none;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}