.hero {
  background-color: #2e2f42;
  badding: 200px 0;
  text-align: center;
}
.hero-title{
  color: #FFFFFF;
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.hero-button{
  background-color: #4D5AE5;
  color: #FFFFFF;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 32px;
  padding-right: 32px;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  font-family: "Roboto", sans-serif;
  display: block;
  margin-left: 0;
  margin-right: auto;
}